<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bms.dao.CampusDao">
    <resultMap id="CampusMap" type="Campus">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="create_time" jdbcType="DATE" property="createTime" />
    </resultMap>
    <insert id="insertCampus" parameterType="Campus">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO `campus`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and !&quot;&quot;.equals(name.trim())">
                `name`,
            </if>
            <if test="address != null and !&quot;&quot;.equals(address.trim())">
                address,
            </if>
            <if test="phone != null and !&quot;&quot;.equals(phone.trim())">
                phone,
            </if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and !&quot;&quot;.equals(name.trim())">
                #{name, jdbcType=VARCHAR},
            </if>
            <if test="address != null and !&quot;&quot;.equals(address.trim())">
                #{address, jdbcType=VARCHAR},
            </if>
            <if test="phone != null and !&quot;&quot;.equals(phone.trim())">
                #{phone, jdbcType=VARCHAR},
            </if>
            NOW()
        </trim>
    </insert>

    <select id="selectCampus" parameterType="Campus" resultMap="CampusMap">
        SELECT id,name,address,phone FROM campus
        <trim prefix="WHERE" suffixOverrides="AND">
            <if test="id != null">
                id = #{id} AND
            </if>
            <if test="name != null and !&quot;&quot;.equals(name.trim())">
                name = #{name} AND
            </if>
            <if test="address != null and !&quot;&quot;.equals(address.trim())">
                address = #{address} AND
            </if>
            <if test="phone != null and !&quot;&quot;.equals(phone.trim())">
                phone = #{phone} AND
            </if>
        </trim>
        ORDER BY id ASC
    </select>

    <update id="updateCampus" parameterType="Campus">
        UPDATE campus
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and !&quot;&quot;.equals(name.trim())">
                name = #{name, jdbcType=VARCHAR},
            </if>
            <if test="address != null and !&quot;&quot;.equals(address.trim())">
                address = #{address, jdbcType=VARCHAR},
            </if>
            <if test="phone != null and !&quot;&quot;.equals(phone.trim())">
                phone = #{phone, jdbcType=VARCHAR},
            </if>
        </trim>
        WHERE id=#{id}
    </update>

    <delete id="deleteCampus" parameterType="Long">
        DELETE FROM campus WHERE id = #{id}
    </delete>

</mapper>