<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bms.dao.StudentSubjectDao">
    <select id="getSubjectIdsByStudentId" parameterType="Long" resultType="Long">
        SELECT subject_id FROM student_subject WHERE student_id=#{studentId}
    </select>
    <delete id="deleteStudentSubject" parameterType="Long">
        DELETE FROM student_subject WHERE student_id=#{studentId}
    </delete>
    <insert id="insertStudentSubjects">
        INSERT INTO student_subject(student_id, subject_id) VALUES
            <foreach collection="subjectIds" item="subjectId" separator=",">
                (#{studentId}, #{subjectId})
            </foreach>
    </insert>
    <insert id="insertStudentSubjectsBatch" parameterType="Map">
        INSERT INTO student_subject(student_id, subject_id) VALUES
        <trim suffixOverrides=",">
            <foreach collection="paramsMap" item="value" index="studentId">
                <foreach collection="value" item="subjectId">
                    (#{studentId}, #{subjectId}),
                </foreach>
            </foreach>
        </trim>
    </insert>
</mapper>